<div>
  <h4>Email Address</h4>
  <input type='text' value="<%= @current_user.email %>" class="form-control"/>
</div>
<div>
  <h4>Password</h4>
  <!-- Putting the password digest in the value isn't needed since it's going to be a long string of gibberish -->
  <input type="password" value="<%= @current_user.password_digest %>" class="form-control">
</div>
