


  <!-- <form action="/admin/product_options/create" method="POST" class="well">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" /> -->

    <!-- <% if @product %>
      <% @product.errors.each do |c, msg| %>
        <ul>
          <li>
            <%= c %> <%= msg %>
          </li>
        </ul>
      <% end %>
    <% end %> -->

    <!-- <div>
      <h4>Name</h4>
      <input type='text' name="product_option[name]" class="form-control"/>
    </div>
    <div>
      <h4>Price in Cents</h4>
      <input type="text" name="product_option[price_in_cents]" class="form-control">
    </div>
      <input type="hidden" name="product_option[product_id]" value="<%= @product_option.product.id %>">
    <input type='submit' />
  </form> -->
